* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(150deg, #1d2caf, #0c1458);
    height: 100vh;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    position: absolute;
    background-color: #3d3939c0;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);
    padding: 20px;
    border-radius: 20px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: #777777;
    color: #fff;
}

button:hover {
    background-color: #0c1458;
}

.tela {
    background-color: white;
    height: 35px;
    color: #000;
    font-size: 25px;
    text-align: end;
    margin: 3px;
}