* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg);
    height: 100vh;
    text-align: center;
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}


.box {
    position: absolute;
    background-color: var(--calc-bg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
}


button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: none;
    background-color: var(--button-bg);
    color: var(--text);
}

button:hover {
    background-color: #0c1458;
}

.tela {
    background-color: var(--screen-bg);
    height: 35px;
    color: var(--text);
    font-size: 25px;
    text-align: end;
    margin: 3px;
}

@media (max-width: 400px) {
    .tela {
        font-size: 1.5rem;
    };
    button {
        padding: 15px;
        font-size: 1.2rem;
    };
};

:root {
    --screen-bg: #ffffff;
    --bg: #ffffff;
    --calc-bg: #f1f1f1;
    --text: #000000;
    --button-bg: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
    :root{
        --bg: #121212;
        --calc-bg: #1e1e1e;
        --screen-bg: #000000;
        --text: #ffffff;
        --button-bg: #333333;
    }
}

body,
.box
.tela,
button {
    transition: 0.3s;
}